// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$beige-lighter: #b5b6b0;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import '~bulma/bulma'